<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/landingpage.css') }}" type="text/css" />
    <title>Olyium</title>
    <meta name="description" content="olyiums' page I guess.">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>olyium</h1>
            <p>Soon, this will become a store.</p>
            <div class="status">Always Online</div>
        </div>
        <div class="footer">
            © 2025 olyium | no fucking rights reserved
        </div>
    </div>
</body>
</html>
